<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Donation App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand">MyApp</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Home', home_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Fundraisers', my_fundraisers_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Fundraiser', new_fundraiser_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Donations', my_donations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <% flash.map do |key, value| %>
      <div class="flash"><%= value %></div>
    <% end %>
    
    <%= yield %>

  </div>
</body>
</html>
